[submodule "UnitreeSimEnv"]
	path = UnitreeSimEnv
	url = https://github.com/superdev11271/UnitreeSimEnv.git
[submodule "UnitreeSimCtrl"]
	path = UnitreeSimCtrl
	url = https://github.com/superdev11271/UnitreeSimCtrl.git
[submodule "SdkEventBridge"]
	path = SdkEventBridge
	url = https://github.com/superdev11271/SdkEventBridge.git
